<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Not eaten.{{else}}Eaten{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
